@{
    ViewData["Title"] = "Categories";
}

<div class="text-center">
    <h1 class="display-4">Categories</h1>
    <p>Total: @Model.Count.ToString()</p>
    <a class="button" asp-action="Create">+ New</a>
    <table>
        <thead>
            <tr>
                <td>ID</td>
                <td>Name</td>
                <td>Actions</td>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Id</td>
                    <td><a asp-action="View" asp-route-id="@item.Id">@item.Name</a></td>
                    <td>
                        <a class="button button-outline" asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                        <a class="button button-outline" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>
            }
            <tr>
                <td>-</td>
                <td><a asp-action="View" asp-route-id="">No category</a></td>
                <td><a class="button button-outline" asp-action="View" asp-route-id="">View</a></td>
            </tr>
        </tbody>
    </table>
</div>
